<!DOCTYPE html>
<html>
    <%- include("partials/head"); %>
    <body>
        <%- include("partials/navbar"); %>
        <div class="container mt-3">
            
            <div>
                <h4>Tabel Data Buku</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Judul</th>
                            <th>Pengarang</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach(i => { %>
                        <tr>
                            <td><%= i.id %></td>
                            <td><%= i.judul %></td>
                            <td><%= i.pengarang %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            
        </div>
    </body>
</html>